body {
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: url("./img/congruent_pentagon.png"), #6F4A38;
    background-repeat: repeat;
}

.jordan {
  vertical-align: middle;
  width: 40%;
  height: auto;
  border-radius: 50%;
  min-width: 180px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 75%;
  min-width: 50px;
}

img[class^=logo] {
  display: inline-block;
  vertical-align: middle;
  margin:0 3em;
}


.pages {
  padding: 15pt;
}

.content-container {
  display: grid;
  grid-template-areas: 'left middle right';
  padding: 10px;
  align-content: center;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.content-container > div {
  text-align: center;
  padding: 5px 0;
  align-items: center;
}

.right {
  grid-area: right;
}

.left {
  grid-area: left;
}

.contact {
  text-align: center;
}

.logo {
  display: flex;
}



.header{
    color: black;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;

  }

.content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

#content {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    height: 100%;
}

#greeting-container {
  margin-top: 20px;
}

#fact-container {
  margin-top: 20px;
}

.theme-icon {
  display: none;
}  


#logo img{
    align-content: center;
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    vertical-align: middle;
    margin-left: 45%;
}

#comment-container{
    
}